@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

#myBody {
  background-color: #353c47;
}

.container {
  background-color: #fff;
}

/* .header-img {
  position: relative;
} */
/* header {
  background-color: #002147;
  color: white;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 10%;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
} */

.p-name {
  font-size: x-large;
  display: inline-block;
  color: white;
  /* margin-left: 10px; */
}
nav .container-fluid {
  background-color: #002147;
}
nav .container-fluid .navbar-brand,
nav .container-fluid .collapse .navbar-nav .nav-item .nav-link,
nav .container-fluid .navbar-toggler .navbar-toggler-icon {
  color: #fff;
}
.nav-link:hover {
  background-color: #2f72a8;
}

nav ul,
a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

nav li {
  margin: 12px;
  padding: 10px;

  position: relative;
}
/* .nav-list {
  color: #fff;
  margin: 10px;
  padding: 5px;
  text-align: left;
  font-size: 1rem;
  text-transform: uppercase;
  border-right: 1px solid lightseagreen;
} */

.submenu {
  padding: 8px;
}
.submenu ul {
  font-size: small;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.submenu ul li {
  padding: 10px;
  border-bottom: 1px solid greenyellow;
}
.submenu ul li:last-child {
  border: none;
}

.submenu ul li:hover {
  background-color: #2f72a8;
  opacity: 0.5;
}

.submenu ul li a {
  color: #2f72a8;
}
.submenu ul li a:hover {
  color: #fff;
}

nav li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
}

/* 
#search {
  padding: 12px;
  outline: none;
  border-radius: 4px;
  margin-right: 13px;
  color: #fff;
  background-color: #1a385a;
  border: none;
} */
/* input::placeholder {
  color: white; 
} */

/* scrollbar hide  */
/* Hide the scrollbar but allow scrolling */
::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the scrollbar thumb */
}

/* end of header styling */

/* dummy styles */

/* .main {
  display: flex;
  justify-content: space-between;
} */
/* .content {
  max-width: 83%;
  overflow: hidden;
  padding: 3%;
  background-color: burlywood;
} */
/* .sidebar {
  background-color: whitesmoke;
  height: 100vh;
  max-width: 16%;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: relative;
  z-index: -1000;

  display: blocks;
} */
/* .btn {
  background-color: lightgray;
  width: 98%;
  padding: 15px;
  border: none;
  margin-top: 9px;
  border-radius: 4%;
  box-shadow: inset;
  font-size: 16pt;
  font-weight: 400;
} */

/* .btn:hover {
  background-color: navajowhite;
  cursor: pointer;
  color: green;
} */

/* p {
  margin-top: 20px;
  text-align: justify;
} */

/* footer styles */
/* .c-foot {
  display: flex;
  margin: 0 auto;
  min-height: 60vh;
  width: 85%;
  color: #fff;
  background-color: #002147;
} */

/* .social {
  display: flex;
  list-style: none;
  margin: 10px;
  font-size: x-large;
}
.social li {
  margin: 10px;
  padding: 8px;
}
.social li a i {
  margin-right: 8px;
  color: #fff;
}
.social li:hover {
  background-color: red;
  color: red;
}
.meet-us {
  width: 20%;
}

.q-links {
  list-style: none;
  margin: 10px;
  font-size: x-large;
} */
