@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

#myBody {
  background-color: #353c47;
  scroll-behavior: smooth;
}

.container {
  background-color: #fff;
}

.p-name {
  font-size: x-large;
  display: inline-block;
  color: white;
  /* margin-left: 10px; */
}
nav .container-fluid {
  background-color: #002147;
}
nav .container-fluid .navbar-brand,
nav .container-fluid .collapse .navbar-nav .nav-item .nav-link,
nav .container-fluid .navbar-toggler .navbar-toggler-icon {
  color: #fff;
  text-transform: uppercase;
}

/* Change background color of parent nav-link when dropdown menu is active */
.navbar-nav .nav-item.dropdown:hover .nav-link {
  background-color: #fff;
  /* color: red; */
}

.navbar-nav .nav-item.dropdown:hover a.nav-link {
  color: #002147;
}

nav ul,
a {
  list-style: none;
  text-decoration: none;
  /* color: #fff; */
  display: flex;
  align-items: center;
}

nav li {
  margin: 12px;
  padding: 10px;
  color: #2f72a8;
  position: relative;
}

a.dropdown-item {
  color: #2f72a8;
}

/* Style for the hover effect on <li> tags */
ul.dropdown-menu li:hover {
  background-color: #2f72a8;
  color: #fff;
}

ul.dropdown-menu li {
  transition: background-color 0.3s, color 0.3s; /* Add the transition property */
}
/* Reset the background and text color for <a> tags inside <li> tags */
ul.dropdown-menu li:hover a {
  background-color: transparent; /* or any other background color you want for <a> tags */
  color: inherit; /* Inherit text color from the parent */
}

/* Remove padding from top and bottom of <li> elements */
ul.dropdown-menu {
  border: none;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
  padding-top: 0;
  padding-bottom: 0;
  outline: none;
}

/* Add a bottom border with light yellow color to <li> elements */
ul.dropdown-menu li {
  border-bottom: 1px solid #e0ded9;
}
ul.dropdown-menu li:last-child {
  border-bottom: none;
}

nav li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
}

/* 
#search {
  padding: 12px;
  outline: none;
  border-radius: 4px;
  margin-right: 13px;
  color: #fff;
  background-color: #1a385a;
  border: none;
} */
/* input::placeholder {
  color: white; 
} */

/* scrollbar hide  */
/* Hide the scrollbar but allow scrolling */
::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the scrollbar thumb */
}




/* end of header styling */


/* Styles for News Img */
  /* Add CSS for the hover effect */
    .image-container {
        position: relative;
        overflow: hidden;
    }

    .image-container img {
        transition: transform 0.4s, opacity 0.4s;
    }

    .image-container:hover img {
        transform: scale(1.1);
        opacity: 0.7;
    }



/* dummy styles */

/* .main {
  display: flex;
  justify-content: space-between;
} */
/* .content {
  max-width: 83%;
  overflow: hidden;
  padding: 3%;
  background-color: burlywood;
} */
/* .sidebar {
  background-color: whitesmoke;
  height: 100vh;
  max-width: 16%;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: relative;
  z-index: -1000;

  display: blocks;
} */
/* .btn {
  background-color: lightgray;
  width: 98%;
  padding: 15px;
  border: none;
  margin-top: 9px;
  border-radius: 4%;
  box-shadow: inset;
  font-size: 16pt;
  font-weight: 400;
} */

/* .btn:hover {
  background-color: navajowhite;
  cursor: pointer;
  color: green;
} */

/* p {
  margin-top: 20px;
  text-align: justify;
} */

/* footer styles */
/* .c-foot {
  display: flex;
  margin: 0 auto;
  min-height: 60vh;
  width: 85%;
  color: #fff;
  background-color: #002147;
} */

/* .social {
  display: flex;
  list-style: none;
  margin: 10px;
  font-size: x-large;
}
.social li {
  margin: 10px;
  padding: 8px;
}
.social li a i {
  margin-right: 8px;
  color: #fff;
}
.social li:hover {
  background-color: red;
  color: red;
}
.meet-us {
  width: 20%;
}

.q-links {
  list-style: none;
  margin: 10px;
  font-size: x-large;
} */

#footer {
  display: flex;
  background-color: #002147;
  margin-top: 20px;
  font-size: small;
  padding: 15px;
  color: #fff;
}

.find_your_way ul,
.Addmission ul,
.quick_links ul,
.contact_us ul,
.meet_us ul,
.help_support ul {
  margin: 10px;
  padding: 10px;
  /* border-right: 1px solid greenyellow; */
  list-style: circle;
  color: #fff;
}

.find_your_way ul a,
.Addmission ul a,
.quick_links ul a,
.contact_us ul a,
.help_support ul a,
.meet_us ul a {
  color: #fff;
  text-decoration: none;
}

.find_your_way ul a:hover,
.Addmission ul a:hover,
.quick_links ul a:hover,
.contact_us ul a:hover,
.help_support ul a:hover {
  text-decoration: underline;
  color: lightseagreen;
}

.copyright {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #e967c3 0%, #5d82f6 100%);
  color: #fff;
  justify-content: center;
}

.copyright p {
  text-align: center;
 
}

.social li {
  margin: 10px;
  padding: 8px;
}
/* Connect with us styles */
.social li:hover {
  background-color: #2f72a8;
  /* color: red; */
}

.social li a i {
  margin-right: 8px;
  color: #fff;
}

.social li a:hover {
  color: #fff;
  text-decoration: none;
}
